.spaceTaker{
    margin-top: 40vh;
}

.outerBox{
    border: 2px solid grey;
    border-radius: 4px;
    margin-top: 5vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
}

.rowWrapper {
	display: flex;
	padding: 1vh;
	background-color: rgba(255, 255, 255, 0.808);
	border-bottom: 1px solid #DDD;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.delete, .edit{
    width: 9vw;
}

.edit {
    margin-right: 1vw;
    margin-left: 1vw;
}

.createBtn{
    height: 4vh;
    background-color: lightblue;
    border: none;
}

#header{
    margin-bottom: 2vh;
    margin-top: 3vh;
    text-align: center;
}




.id{
    width: 3vw;
    text-align: left;
}

.grade{
    width: 9vw;
}

.name{
    width: 13vw;
}

.major {
    width: 10vw;
}

.time {
    width: 21vw;
}

