<div class="outerBox">
    <h1 class="header">Create student</h1>
    <input [(ngModel)]="firstnameInput" type="text" class="input" placeholder="first name">
    <input [(ngModel)]="lastnameInput" type="text" class="input" placeholder="last name">
    
    
    <select class="input" [(ngModel)]="selectedGrade"> 
        <option [value]="0" disabled selected hidden>Choose grade</option>
        <option *ngFor="let grade of validGrades;"[value]="grade">{{grade}}</option>
    </select>
    
    <input *ngIf="selectedGrade>12" type="text" class="input" placeholder="major" [(ngModel)]="majorInput">
    <div class="buttonDiv">
        <button class="leftButton" (click)="hidecreate.emit()">Cancel</button>
        <button class="rightButton" (click)="createStudent()">Create student</button>
        
    </div>
    
</div>
 